
body { 
    background-image:url(assets/Background.png); 
    background-repeat:no-repeat; 
    background-attachment:fixed; 
    background-position:center; 
    background-size: 100%;
    background-size: cover;
    font-family: "Helvetica Neue", Helvetica, Arial, sans-serif;
    font-size: 20px;
    line-height: 1.3;
    margin: 0 auto;
    max-width: 1000px;
    padding: 2em 2em em;                
}

@font-face {
  font-family: 'Galaxy Force';

  src: url(assets/Galaxy Force.ttf) format('ttf');
}
span.crosshair {
    cursor: crosshair;
}

/* BOTONES */
.botonJugar {

  background: transparent;
  border: none !important;
  background-image:url(assets/BotonJugar.png);
  background-repeat:no-repeat;
  height:114px;
  width:366px;
  background-position:center;
}

.botonJugar:hover {
  background-image:url(assets/BotonJugarHover.png);
  background-repeat:no-repeat;
  height:114px;
  width:366px
  background-position:center;
}

.botonJugar:active {
	position:relative;
	top:1px;
	font-size: 130%;

}

.botonInstrucciones {
  background: transparent;
  border: none;
  background-image:url(assets/BotonInstrucciones.png);
  background-repeat:no-repeat;
  height:114px;
  width:366px;
  margin-right: 170px;
  margin-bottom: 30px;
  background-position:center;
}

.botonInstrucciones:hover {
  background-image:url(assets/BotonInstruccionesHover.png);
  background-repeat:no-repeat;
  height:114px;
  width:366px
  background-position:center;
}

.botonInstrucciones:active {
	position:relative;
	top:1px;
	font-size: 130%;

}

.botonRanking {

  background: transparent;
  border: none ;
  background-image:url(assets/BotonRanking.png);
  background-repeat:no-repeat;
  height:114px;
  width:366px;
  background-position:center;
}

.botonRanking:hover {
  background-image:url(assets/BotonRankingHover.png);
  background-repeat:no-repeat;
  height:114px;
  width:366px;
  background-position:center;
}

.botonRanking:active {
	position:relative;
	top:1px;
	font-size: 130%;

}

.botonPersonajes {

  background: transparent;
  border: none;
  background-image:url(assets/BotonPersonajes.png);
  background-repeat:no-repeat;
  height:114px;
  width:366px;
  background-position:center;
}

.botonPersonajes:hover {
  background-image:url(assets/BotonPersonajesHover.png);
  background-repeat:no-repeat;
  height:114px;
  width:366px;
  background-position:center;
}

.botonPersonajes:active {
	position:relative;
	top:1px;
	font-size: 130%;

}

.botonAtras {

  background: transparent;
  border: none;
  background-image:url(assets/BotonAtras.png);
  background-repeat:no-repeat;
  height:114px;
  width:366px;
  background-position:center;
}

.botonAtras:hover {
  background-image:url(assets/BotonAtrasHover.png);
  background-repeat:no-repeat;
  height:114px;
  width:366px
  background-position:center;
}

.botonAtras:active {
	position:relative;
	top:1px;
	font-size: 130%;

}

.botonMover {

  display:none;
  background: transparent;
  border: none;
  background-image:url(assets/BotonMover.png);
  background-repeat:no-repeat;
  height:60px;
  width:100px;
  background-position:center;
}

.botonMover:hover {
  background-image:url(assets/BotonMoverHover.png);
  background-repeat:no-repeat;
  height:60px;
  width:100px;
  background-position:center;
}

.botonMover:active {
	position:relative;
	top:1px;
	font-size: 130%;

}

.botonAtacar {

  display:none;
  background: transparent;
  border: none;
  background-image:url(assets/BotonAtacar.png);
  background-repeat:no-repeat;
  height:60px;
  width:100px;
  background-position:center;
}

.botonAtacar:hover {
  background-image:url(assets/BotonAtacarHover.png);
  background-repeat:no-repeat;
  height:60px;
  width:100px;
  background-position:center;
}

.botonAtacar:active {
	position:relative;
	top:1px;
	font-size: 130%;

}

.botonEsperar {

  display:none;
  background: transparent;
  border: none;
  background-image:url(assets/BotonEsperar.png);
  background-repeat:no-repeat;
  height:60px;
  width:100px;
  background-position:center;
}

.botonEsperar:hover {
  background-image:url(assets/BotonEsperarHover.png);
  background-repeat:no-repeat;
  height:60px;
  width:100px;
  background-position:center;
}

.botonEsperar:active {
	position:relative;
	top:1px;
	font-size: 130%;

}

.botonFin {


  background: transparent;
  border: none;
  background-image:url(assets/BotonFin.png);
  background-repeat:no-repeat;
  height:60px;
  width:100px;
  background-position:center;
}

.botonFin:hover {
  background-image:url(assets/BotonFinHover.png);
  background-repeat:no-repeat;
  height:60px;
  width:100px;
  background-position:center;
}

.botonFin:active {
	position:relative;
	top:1px;
	font-size: 130%;

}

.botonRendirse {
  background: transparent;
  border: none;
  background-image:url(assets/BotonRendirse.png);
  background-repeat:no-repeat;
  height:60px;
  width:100px;
  background-position:center;
}

.botonRendirse:hover {
  background-image:url(assets/BotonRendirseHover.png);
  background-repeat:no-repeat;
  height:60px;
  width:100px;
  background-position:center;
}

.botonRendirse:active {
	position:relative;
	top:1px;
	font-size: 130%;

}

.botonAliens {
  background: transparent;
  border: none;
  background-image:url(assets/BotonAliens.png);
  background-repeat:no-repeat;
  height:285px;
  width:366px;
  background-position:center;
}

.botonAliens:hover {
  background-image:url(assets/BotonAliensHover.png);
  background-repeat:no-repeat;
  height:285px;
  width:366px;
  background-position:center;
}

.botonAliens:active {
	position:relative;
	top:1px;
	font-size: 130%;

}

.botonMarines {
  background: transparent;
  border: none;
  background-image:url(assets/BotonMarines.png);
  background-repeat:no-repeat;
  height:285px;
  width:366px;
  background-position:center;
}

.botonMarines:hover {
  background-image:url(assets/BotonMarinesHover.png);
  background-repeat:no-repeat;
  height:285px;
  width:366px;
  background-position:center;
}

.botonMarines:active {
	position:relative;
	top:1px;
	font-size: 130%;

}


#menu{
	display:block;
}


.page{
	margin:auto;
	text-align:center;
	display:none;
}



table.ranking {
  font-family: 'Galaxy Force',"Arial Black", Gadget, sans-serif;
  border: 5px solid #000000;
  background-color: #0773A1;
  width: 100%;
  height: 200px;
  text-align: center;
  border-collapse: collapse;
}
table.ranking td, table.ranking th {
  border: 5px solid #FFFFFF;
  padding: 7px 1px;
}
table.ranking tbody td {
  font-size: 25px;
  color: #000000;
}
table.ranking tr:nth-child(even) {
  background: #2e4472;
}
table.ranking thead {
  background: #000000;
  background: -moz-linear-gradient(top, #404040 0%, #191919 66%, #000000 100%);
  background: -webkit-linear-gradient(top, #404040 0%, #191919 66%, #000000 100%);
  background: linear-gradient(to bottom, #404040 0%, #191919 66%, #000000 100%);
}
table.ranking thead th {
  font-size: 35px;
  font-weight: bold;
  color: #E6E6E6;
  text-align: center;
}
table.ranking tfoot td {
  font-size: 20px;
}

/* Carousel base class */
.carousel {
  height: 400px;
  margin-bottom: 60px;
}
/* Since positioning the image, we need to help out the caption */
.carousel-caption {
  z-index: 10;
}

/* Declare heights because of positioning of img element */
.carousel .item {
  height: 400px;
  background: transparent;
  border: none;
  border: none;
}
.carousel-inner > .item > img {
  position: absolute;
  top: 0;
  left: 0;
  min-width: 100%;
  height: 400px;
}